*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    background-image: url(Game.Bg.jpg);
    background-size: cover;
}
.GameBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    height: 50px;
    width: 100%;
    background-color: black;
    background-image: url(HeaderBg.jpg);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(16, 12, 12);
    font-family: Areal,sans-serif;
    text-shadow: 
    0 0 5px rgb(24, 224, 246),
    0 0 10px rgb(13, 126, 206),
    0 0 20px rgb(11, 139, 208),
    0 0 40px #01a2e7,
    0 0 80px #0ac1be;
}
.button-box{
    height : 400px;;
    width : 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(215, 13, 13, 0.785);
    justify-content: space-evenly;
    background-image: url(VK2.jpg);
    background-size: contain;
}
#Bat{
    height: 100px;
    width: 150px;
    background-image: url(Bat.jpg);
    background-size: cover;
}
Bat:active{
    background-image: url(Bat2.jpg);
    background-size: cover;
}
#Ball{
    height: 100px;
    width: 150px;
    background-image: url(Ball.jpg);
    background-size: cover;
}
#toggle:checked + #Ball {
  animation: fadeOut 0.4s forwards;
}

@keyframes fadeOut {
  to { background-size: 0; }
}

#Stump{
    height: 100px;
    width: 150px;
    background-image: url(Stump.jpg);
    background-size: cover;
}
Stump:active{
    background-image: url(Stump2.jpg);
    background-size: cover;
}